.logout {
  background: var(--gray-700);
  display: flex;
  flex: 1;
  flex-direction: row;
  align-items: center;
  justify-content: flex-end;
}

.divButton {
  height: 2rem;
  width: 100%;
  max-width: 7rem;
  display: flex;
  flex: 1;
  flex-direction: row;
  padding: 0 1rem;
}

.divButton button {
  height: 100%;
  padding: 0 1rem;
  background: var(--blue-dark);
  color: var(--gray-100);
  border: none;
  border-radius: 0.5rem;
  display: flex;
  flex: 1;
  align-items: center;
  font-weight: 700;
  font-size: 0.875rem;
}

.project {
  height: 100%;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-between;
  color: var(--purple);
  font-weight: 700;
}