.header {
  background: var(--gray-700);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12.5rem;
  position: relative;
}

.newProjectForm {
  position: absolute;
  height: 3.375rem;
  justify-content: space-around;
  bottom: calc(-3.375rem / 2);
  width: 100%;
  max-width: 69rem;
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
}

.newProjectForm input {
  height: 100%;
  max-width: 15rem;
  flex: 1;
  color: var(--gray-100);
  background: var(--gray-500);
  border: var(--gray-700) 1px solid;
  border-radius: 0.5rem;
  padding: 0 1rem;
  font-size: 1rem;
}

.newProjectForm input::placeholder {
  color: var(--gray-300);
}

.newProjectForm button {
  height: 100%;
  padding: 0 1rem;
  background: var(--blue-dark);
  color: var(--gray-100);
  border: none;
  border-radius: 0.5rem;
  display: flex;
  align-items: center;
  gap: 0.375rem;
  font-weight: 700;
  font-size: 0.875rem;
}

.logout {
  background: var(--gray-700);
  display: flex;
  flex: 1;
  flex-direction: column;
  align-items: end;
  height: 3.125rem;
}

.logo {
  height: 15rem;
}