.header {
  background: var(--gray-700);
  display: flex;
  align-items: center;
  justify-content: center;
  height: 12.5rem;
  position: relative;
}

.loginForm {
  display: flex;
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 10rem;
  bottom: calc(-15rem / 2);
  width: 100%;
  max-width: 46rem;
  gap: 0.5rem;
  padding: 0 1rem;
}

.loginForm input {
  height: 100%;
  flex: 1;
  color: var(--gray-100);
  background: var(--gray-500);
  border: var(--gray-700) 1px solid;
  border-radius: 0.5rem;
  padding: 0 1rem;
  font-size: 1rem;
}

.loginForm input::placeholder {
  color: var(--gray-300);
}

.divButton {
  display: flex;
  flex: 1;
  flex-direction: row;
  height: 100%;
  padding: 0 1rem;
  align-items: space-between;
  justify-content: space-between;
  font-weight: 700;
  gap: 0.875rem;
  font-size: 0.875rem;
  margin-top: 0.875rem;
}

.divButton button {
  flex: 1;
  height: 100%;
  padding: 0 1rem;
  background: var(--blue-dark);
  color: var(--gray-100);
  border: none;
  border-radius: 0.5rem;
  align-items: center;
  gap: 0.375rem;
  font-weight: 700;
  font-size: 0.875rem;
}

.registerForm {
  position: absolute;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 17.5rem;
  bottom: calc(-30rem / 2);
  width: 100%;
  max-width: 46rem;
  display: flex;
  gap: 0.5rem;
  padding: 0 1rem;
}

.registerForm input {
  height: 100%;
  flex: 1;
  color: var(--gray-100);
  background: var(--gray-500);
  border: var(--gray-700) 1px solid;
  border-radius: 0.5rem;
  padding: 0 1rem;
  font-size: 1rem;
}

.registerForm input::placeholder {
  color: var(--gray-300);
}

.span {
  color: var(--danger);
}
